.manga-genre {
  background-color: white;
  border-radius: 3px;
  min-height: 100vh;
}

.manga-genre .title {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.manga-genre .title .title-h5 {
  display: flex;
  margin-bottom: 0 !important;
  align-items: center;
}

.manga-genre .title .title-h5 .item-tag {
  margin: 0 5px 0px 5px;
  width: auto;
}

/* .manga-genre .manga-list {
  background-color: #f0f2f5;
  padding-bottom: 50px;
} */

.manga-genre .genre-desc {
  font-size: 20px;
  margin-left: 50px;
  text-align: justify;
  width: 800px;
  padding-right: 16px;
}
.manga-genre span.ant-divider-inner-text {
  display: flex;
}

.manga-genre span.ant-divider-inner-text .btn-left {
  margin: 0px 8px 0 0;
  background: transparent;
  border-radius: 50%;
  border: none;
  height: 45px;
  width: 40px;
  box-shadow: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .manga-genre .genre-desc {
    margin-left: 20px;
    width: 340px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .manga-genre .genre-desc {
    margin-left: 40px;
    font-size: 18px;
    width: 590px;
  }
}
