.manga-genre {
  background-color: white;
  overflow-x: hidden;
  border-radius: 3px;
}

.manga-genre .title {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.manga-genre .title .title-h5 {
  display: flex;
}

.manga-genre .title .title-h5 .item-tag {
  margin: 0 5px 5px 5px;
  width: auto;
}

.manga-genre .manga-list {
  background-color: #f0f2f5;
  padding-bottom: 50px;
}

.manga-genre .genre-desc {
  font-size: 20px;
  margin-left: 50px;
  text-align: justify;
  width: 800px;
  padding-right: 16px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .manga-genre .genre-desc {
    margin-left: 20px;
    width: 340px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .manga-genre .genre-desc {
    margin-left: 40px;
    font-size: 18px;
    width: 590px;
  }
}
