.manga-genre {
  background-color: white;
  overflow-x: hidden;
  border-radius: 3px;
}

.manga-genre .title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.manga-genre .title .title-h5 {
  display: flex;
}

.manga-genre .title .title-h5 .item-tag {
  margin: 0 5px 5px 5px;
  width: auto;
}

.manga-list {
  background-color: #f0f2f5;
  padding-bottom: 50px;
}


@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .manga-genre .title .title-h5 {
  }
  
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
}
