.form-signup-trans-group-footer {
  text-align: end;
}

.ant-modal-body {
  padding-top: 0px;
  padding-bottom: 15px;
}

.btn-submit-signup-trans-group {
  margin-right: 10px;
}

.modal-title-signup-trans-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-signup-trans-group-text {
  position: absolute;
  margin: auto;
}

.rules .ant-typography{
    display: block;
    text-align: justify;
    padding: 5px 0px;
}

.checkbox-accept-terms span.popover-checkbox{
  transition: 0.3s;
  color: #63aef5;
}
.checkbox-accept-terms span.popover-checkbox:hover{
  color: #1890FF;
}

/* this rule is in SignIn.css */
/* .logo-signup-trans-group-signup-trans-group {
  } */
  
