.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 5px 0px 5px 5px;
  border-radius: 3px;
  margin-bottom: 2em;
  /* box-shadow: inset 0px 1px 8px -3px #ababab; */
  background: #fefefe;
  overflow-y: auto;
  transition: 0.3s;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 60px;
  max-height: 190px;
  overflow-y: auto;
  font-size: 16px;
}

.editor:hover {
  border: 1px solid #66b5f6;
}

.editor:focus-within {
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  border: 1px solid #66b5f6;
}

.editor :global(.public-DraftEditorPlaceholder-root) {
  position: absolute;
  color: #afafaf;
  font-style: italic;
  z-index: 0;
}

/* 
.editor figure {
  width: fit-content;
  display: inline-block;white-space: pre
} */

/* .editor figure img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
} */

.editor::-webkit-scrollbar,
.editor :global(.public-DraftEditor-content)::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.editor :global(.public-DraftEditor-content)::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: RGB(175, 175, 175);
}

.editor :global(.public-DraftEditor-content)::-webkit-scrollbar-thumb:hover {
  background: RGB(150, 150, 150);
}

/* emoji container */
.options {
  position: absolute;
  bottom: 30px;
  right: 55px;
  /* right: 0; */
  padding: 4px 5px 0px 5px;
  z-index: 99;
}
