.form-signup-footer {
  text-align: end;
}

.ant-modal-body {
  padding-top: 0px;
  padding-bottom: 15px;
}

.btn-submit-signup {
  margin-right: 10px;
}

.modal-title-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-signup-text {
  position: absolute;
  margin: auto;
}

#form-sign-up input{
  line-height: 30px !important;
  font-size: 16px;
}

#form-sign-up .ant-input-password{
  line-height: 30px !important;
}

.modal-signup .ant-form-item{
  margin-bottom: 15px;
}



/* this rule is in SignIn.css */
/* .logo-signup-signup {
} */
