.admin-page {
  /* padding-bottom: 20px; */
  background: var(--color-theme);
}

.admin-page .site-layout .admin-content {
  min-height: 100vh;
}

.admin-page .admin-title {
  padding-top: 50px;
  text-align: center;
}

.admin-page .admin-row1 {
  display: flex;
  flex-direction: column;
}

.admin-page .admin-tabs .ant-tabs-nav {
  margin: 0 auto;
  margin-top: 60px;
}

.admin-page .admin-tabs .ant-tabs-nav .ant-tabs-tab {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
}

/* collapse trigger */
.ant-layout-sider-trigger {
  position: absolute;
  top: 0;
}

/* menu sider items container */
.ant-layout-sider-children {
  margin-top: 45px;
}

/* menu sider item */
.ant-layout-sider-children .ant-menu-item {
  padding: 35px;
}

.ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
  height: 50px;
}

.ant-menu.ant-menu-inline-collapsed > .ant-menu-item span {
  margin-top: 8px;
  text-align: center;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .admin-page .admin-tabs {
    max-width: 375px;
  }

  .admin-page .admin-tabs .ant-tabs-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .admin-page .admin-tabs .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 4px;
    font-size: 10px;
  }
}
