.user-drawer .ant-drawer-content-wrapper {
  width: 500px !important;
}

.user-drawer .title span {
  font-size: 22px;
  margin-right: 5px;
}

.user-drawer .user {
  width: 90%;
  margin: auto;
}

.user-drawer .user div {
  margin: 10px 0;
  text-align: center;
}

.user-drawer .user .avatar {
  margin: 10px 0;
}

.user-drawer .user .interact {
  display: flex;
  margin: 30px 0 0 0;
  flex-wrap: wrap;
}

.user-drawer .user .interact .trans-group-btn,
.user-drawer .user .interact .admin-btn{
  margin: 10px 0 0 0;
}

.user-drawer .user .interact .trans-group-btn{
  margin-right: 10px;
}

.user-drawer .user .contact-admin input.ant-input {
  cursor: pointer;
}

.user-drawer .user .contact-admin {
  text-align: left;
  margin: 50px 0 0 0;
}

.user-drawer .user .contact-admin p {
  margin: 0px 0 0 2px;
}

.user-drawer .user .create-trans-group {
  text-align: left;
  margin: 15px 0 0 0;
}

.user-drawer .user .create-trans-group p:hover {
  transition: 0.3s;
  color: #1890ff;
  cursor: pointer;
}

.user-drawer .user button {
  padding: 20px;
  align-items: center;
  display: flex;
}

.user-drawer .user button.history-btn {
  margin-right: 10px;
}

@media only screen and (min-width: 1199px) {
  .user-drawer .user .contact-admin span.ant-input-group {
    width: 320px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .user-drawer .ant-drawer-content-wrapper {
    width: 400px !important;
  }

  .user-drawer .user .contact-admin span.ant-input-group {
    width: 320px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .user-drawer .ant-drawer-content-wrapper {
    width: 320px !important;
  }

  .user-drawer .user button {
    padding: 20px 10px;
  }
}
