.transgrouppage-row1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.transgrouppage-row1 .transgrouppage-tabs {
  margin-bottom: 30px;
}

.transgrouppage-row1 .transgrouppage-title {
  text-align: center;
}

.transgrouppage-row1 .transgrouppage-tabs .projects {
  margin-top: 30px;
}

.transgrouppage-row1 .transgrouppage-tabs .ant-tabs-nav-wrap {
  justify-content: left;
  border: none;
}

.transgrouppage-row1 .transgrouppage-tabs .ant-tabs-nav-wrap .ant-tabs-tab {
  padding: 10px 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
}


.transgrouppage-row1 .ant-tabs-content-holder{
  overflow-x: hidden;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none;
}

.trans-group-title {
  padding-top: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.table-members {
  margin: 80px auto 0 auto;
}

.table-members .members-table table {
  border: 1px solid #f0f0f0;
  border-bottom: none;
  margin: 0;
}

.table-members .members-table tr th.ant-table-cell,
.table-members .members-table td {
  padding: 10px 0;
  padding-left: 5px;
}

.table-members .members-table td.name-col p {
  margin-top: 1px;
  margin-bottom: 0;
}

.table-members .members-table .ant-table-pagination.ant-pagination {
  margin-top: 20px;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .transgrouppage-row1 {
    overflow-x: hidden;
  }

  .table-members {
    margin: 80px 0 0 0;
  }

  .table-members .members-table .ant-table-pagination.ant-pagination {
    margin-right: 0px;
  }

  .table-members {
    margin: 80px 15px 0 5px;
  }
}
