
.list-genre-pagination .ant-list-pagination {
  width: 85%;
  text-align: left;
}


.list-genre-pagination ul.ant-list-items {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  /* margin-left: 280px;
  margin-right: 100px; */
}

.list-genre-pagination ul.ant-list-items .card {
  width: 180px;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
}

.list-genre-pagination .ant-spin-nested-loading {
  height: 70vh;
}


.list-genre-pagination ul.ant-pagination {
  /* margin-left: 280px;
  margin-right: 100px; */
  margin-left: 20px;
  margin-bottom: 40px;
}

.list-genre-pagination .ant-list-vertical {
  width: 100%;
  background-color: #fff;
}

.manga-genre-cards .manga-img {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: unset;
}

.manga-genre-cards .card {
  width: 210px;
  height: 270px;
  margin: 5px 15px 10px 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0 #cdcdce;
  transition: 0.3s;
}

.manga-genre-cards .card:hover {
  box-shadow: 0px 0px 5px 0 #b3b3b4;
}

.manga-genre-cards .card .ant-card-cover {
  height: 75%;
}

.manga-genre-cards .card .ant-card-cover img {
  height: 100%;
  border-radius: 3px;
}

.manga-genre-cards .card .ant-card-body {
  padding: 0 5px;
  margin-top: 5px;
}

.manga-genre-cards .card .desc {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.manga-genre-cards .card .desc .desc-1,
.manga-genre-cards .card .desc .desc-2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* /////////////// */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .manga-genre-cards .card {
    width: 160px;
    height: 210px;
  }

  .manga-genre-cards .card .desc {
    font-size: 11px;
    margin-top: -6px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .manga-genre-cards .card {
    padding: 0;
    margin: 5px;
    width: 150px;
    height: 190px;
  }

  .manga-genre-cards .card .desc {
    font-size: 10px;
    margin-top: -6px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .manga-genre-cards .card {
    width: 130px;
    height: 240px;
  }

  .manga-genre-cards .card .desc {
    font-size: 12px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .manga-genre-cards .card {
    width: 150px;
    height: 240px;
  }

  .manga-genre-cards .card .desc {
    font-size: 12px;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .list-genre-pagination ul.ant-list-items .card {
    width: 150px;
    margin: 10px 10px;
  }

  .list-genre-pagination ul.ant-list-items  {
    justify-content: center;
    margin: 0 0px;
    padding: 0;
  }

  .manga-genre-cards .card {
    margin: 5px 0px 8px 14px;
    padding: 0;
    width: 160px;
    height: 210px;
  }

  .manga-genre-cards .card .desc {
    font-size: 11px;
    margin-top: -4px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 600px) {
  .manga-genre-cards .card {
    margin: 5px 10px;
    padding: 0;
    width: 110px;
    height: 220px;
  }

  .manga-genre-cards .card .desc {
    font-size: 12px;
    margin-top: -6px;
  }
}


