:root {
  --color-box-shadow: rgba(0, 0, 0, 0.192);
  --color-one: #c9cacc;
}

.ant-layout {
  background: none !important;
}

:root::-webkit-scrollbar {
  width: 15px;
}

:root::-webkit-scrollbar-track {
  background: RGB(241, 241, 241);
}

:root::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: RGB(168, 168, 168);
}

:root::-webkit-scrollbar-thumb:hover {
  background: RGB(150, 150, 150);
}
