:root {
  --color-box-shadow: rgba(0, 0, 0, 0.192);
  --color-one: #c9cacc;


  --color-theme:#F0F2F5;
  --color-theme-02:white;

  --color-text:#fff;


  /* Triet, continue this task here */

}

.ant-layout {
  background: none !important;
}


:root::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

:root::-webkit-scrollbar-track {
  background: transparent;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: RGB(175, 175, 175);
}

:root::-webkit-scrollbar-thumb:hover {
  background: RGB(150, 150, 150);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after{
  border: none !important;
}

.ant-drawer-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.ant-drawer-body::-webkit-scrollbar-track {
  background: transparent;
}

.ant-drawer-body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: RGB(175, 175, 175);
}

.ant-drawer-body::-webkit-scrollbar-thumb:hover {
  background: RGB(150, 150, 150);
}