:root {
  --color-box-shadow: rgba(0, 0, 0, 0.192);
  --color-one: #c9cacc;


  --color-theme:#F0F2F5;
  --color-theme-02:white;

  --color-text:#fff;


  /* Triet, continue this task here */

}

.ant-layout {
  background: none !important;
}


:root::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

:root::-webkit-scrollbar-track {
  background: transparent;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: RGB(175, 175, 175);
}

:root::-webkit-scrollbar-thumb:hover {
  background: RGB(150, 150, 150);
}
