.comments-form {
  margin-bottom: 30px;
}

.comments-form .form-input .input {
  border: 1px solid #d9d9d9;
  background-color: white;
  padding: 5px;
  min-height: 50px;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: -8px;
  font-size: 17px;
  transition: 0.3s;
  border-radius: 3px;
  overflow-wrap: break-word; 
}

.comments-form .form-input .input:hover {
  border: 1px solid #66b5f6;
}

.comments-form .form-input .input:focus {
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  border: 1px solid #66b5f6;
}

.comments-form .form-input .input:focus-visible {
  outline: none;
}

.comments-form .form-input .input::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* input for comment is a div with contentEditable="true" */
/* [contentEditable="true"]:empty:not(:focus):before {
  content: attr(placeholder);
  color: grey;
  font-size: 15px;
} */

.comments-form .bottom-cont {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
  margin-bottom: 20px;
}

.comments-form .interaction-cont {
  margin-top: 5px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
}

.comments-form .addons-cont {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 30px;
}

.sticker-cont {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  max-height: 250px;
  overflow-y: auto;
}

.sticker-cont::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.comments-form .addons-cont button {
  border-radius: 50px;
  margin: 0px 0px 0 5px;
  width: 53.5px;
  height: 31.5px;
  padding: 4px 0 0 0;
}


.comments-form .addons-cont span svg {
  margin-top: 4px;
}

.comments-form .interaction-cont button.btn-remove-img {
  position: absolute;
  z-index: 9;
  background: #00000038;
  border-radius: 50%;
  color: white;
  border: none;
  box-shadow: 0 0 5px 0 #ffffff;
  margin-top: 2px;
  margin-left: 2px;
  width: 30px;
  height: 30px;
}

.form-create-project .upload-thumbnail button.btn-remove-img:before {
  box-shadow: none;
}

.comments-form .comment-items {
  overflow-y: auto;
  overflow-x: hidden;
  height: 800px;
}

.comments-form .ant-comments-inner {
  padding: 10px 0;
}

.comments-form .loading-more {
  text-align: center;
}

.comments-form .ant-comments-actions {
  padding: 0;
  margin-top: 5px;
}

.comments-form .comments-likes {
  cursor: pointer;
  padding: 0px 5px;
  font-size: 14px;
  color: #c1c1c1;
}



.tag-users-popover {
  max-width: 500px;
  width: 500px;
  left: 10% !important;
  /*right: unset !important;
  top: 1615px !important;
  max-width: 500px;
  padding: 0;
  position: relative; */
  transition: 5s;
}


.tag-users {
  cursor: pointer;
  max-height: 300px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.tag-users::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tag-users .user-ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tag-users h3 {
  padding: 0;
  margin: 0;
}

.tag-users p {
  font-size: 12px;
  padding: 0;
  font-style: italic;
}

.tag-users .tag {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 4px 0;
  transition: 0.3s;
}

.tag-users .tag:hover {
  background-color: #f5f5f5;
}

.tag-users-popover .ant-popover-arrow {
  visibility: hidden;
  opacity: 0;
}

