.forgot-pass-wrap {
  max-height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 50px 0 var(--color-box-shadow);
  overflow: hidden;
}

.forgot-pass {
  height: 100vh;
  width: 100%;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-pass .text {
  margin-top: -250px;
  margin-bottom: -35px;
  text-align: center;
}

.forgot-pass .form {
  margin-top: 50px;
  width: 300px;
}

.forgot-pass .form input#email {
  height: 50px;
  font-weight: 400;
  font-size: 20px;
}
