.loading-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-circle .loading {
  border: 3px solid #e0e1e3;
  border-top-color: #b5b5b7;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
