
.user-drawer .ant-drawer-content-wrapper {
  width: 500px !important;
}

.user-drawer .title {
  width: fit-content;
  cursor: pointer;
}

.user-drawer .title span {
  font-size: 22px;
  margin-right: 5px;
}

.user-drawer .title span:hover {
  text-decoration: underline;
}

.user-drawer .user {
  width: 90%;
  margin: auto;
}

.user-drawer .user div {
  margin: 10px 0;
  text-align: center;
}

.user-drawer .user .avatar {
  margin: 10px auto;
}

.user-drawer .user .avatar .btn-settings-avatar {
  margin: 0px auto 30px auto;
  box-shadow: none;
  border: none;
  background-color: transparent;
  text-align: center;
  border-radius: 50px;
  padding: 11px;
  width: 45px;
  height: 45px;
}

.btn-upload-avatar .ant-upload-list.ant-upload-list-text{
  display: none !important;
}

.btn-settings-avatar .ant-btn-loading-icon{
  font-size: 24px;
}


.user-drawer .user .avatar .btn-settings-avatar:before {
  box-shadow: none;
}

.user-drawer .user .interact {
  display: flex;
  margin: 30px 0 0 0;
  flex-wrap: wrap;
}

.user-drawer .user .contact-admin input.ant-input {
  cursor: pointer;
}

.user-drawer .user .contact-admin {
  text-align: left;
  margin: 50px 0 0 0;
}

.user-drawer .user .contact-admin p {
  margin: 0px 0 0 2px;
}

.user-drawer .user .create-trans-group {
  text-align: left;
  margin: 15px 0 0 0;
}

.user-drawer .user .create-trans-group p:hover {
  transition: 0.3s;
  color: #1890ff;
  cursor: pointer;
}

.user-drawer .user .friends {
  text-align: left;
  margin: 15px 0 0 0;
  font-weight: 500;
  width: fit-content;
}

.user-drawer .user .friends p {
  font-size: 16px;
  color: #727272;
}

.user-drawer .user .friends p:hover {
  transition: 0.3s;
  cursor: pointer;
  text-decoration: underline;
  color: #000000;
}

.user-drawer .user button {
  padding: 20px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 8px;
  align-items: center;
  display: flex;
}

.user-drawer .user a {
  padding: 20px;
}

.user-drawer .user textarea {
  height: 85px;
  resize: none;
}


@media only screen and (min-width: 1199px) {
  .user-drawer .user .contact-admin span.ant-input-group {
    width: 320px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .user-drawer .ant-drawer-content-wrapper {
    width: 380px !important;
  }

  .user-drawer .user .contact-admin span.ant-input-group {
    width: 320px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .user-drawer .ant-drawer-content-wrapper {
    width: 320px !important;
  }

  .user-drawer .user button {
    padding: 20px 10px;
  }
}
