.searching-page {
  background-color: white;
  overflow: hidden;
  height: 100vh;
  border-radius: 3px;
}

.searching-page .add-panel {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  background: #f0f2f5;
}

.searching-page .add-panel .selected-tags {
  width: 60%;
}

.searching-page .tags-wrapper {
  margin: 0 auto;
  margin-top: 60px;
  background: #f0f2f5;
  width: 80%;
  cursor: default;
  height: 600px;
}

.searching-page .tags-wrapper .item-tag {
  margin: 10px 10px 10px 10px;
  padding: 5px 10px;
  width: auto;
}

.searching-page .tags-wrapper .item-tag-disable {
  margin: 10px 10px 10px 10px;
  padding: 5px 10px;
  width: auto;
  background: rgb(230, 230, 230);
  color: rgba(128, 128, 128, 0.815);
  border-color: rgb(230, 230, 230);
}

.searching-page .search-btn {
  top: 0px;
  background: whitesmoke;
  width: 80px;
  border-radius: 2px;
  margin-left: 3px;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .searching-page {
    height: unset;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 376px) {
  .searching-page .tags-wraper {
    width: 90%;
  }
}
