.user-chart {
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 0;
  width: 100%;
}

.user-chart button {
  margin-bottom: 15px;
  margin-right: 24px;
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  border-radius: 3px;
}

.user-chart .chart {
  margin-bottom: 10px;
  margin-right: 24px;
  margin-left: 10px;
  height: 40px;
  border-radius: 3px;
}

/*  */
.manga-chart {
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 0;
  width: 100%;
}

.manga-chart button {
  margin-bottom: 15px;
  margin-right: 24px;
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  border-radius: 3px;
}

.manga-chart .chart {
  margin-bottom: 10px;
  margin-right: 24px;
  margin-left: 10px;
  height: 40px;
  border-radius: 3px;
}

/*  */
.trans-gr-chart {
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 0;
  width: 100%;
}

.trans-gr-chart button {
  margin-bottom: 15px;
  margin-right: 24px;
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  border-radius: 3px;
}

.trans-gr-chart .chart {
  margin-bottom: 10px;
  margin-right: 24px;
  margin-left: 10px;
  height: 40px;
  border-radius: 3px;
}

/* /// */
.chart-action {
  display: flex;
  justify-content: space-between;
}

.chart-action .chart-action-text {
  font-size: 14px;
}

.text01 {
  margin: -18px 0px 5px 8px;
}

.text02 {
  margin: -18px 0px 0px 23px;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .manga-chart,
  .user-chart,
  .trans-gr-chart {
    max-width: 370px;
    margin: 0 0;
    margin-left: 5px;
  }
}




/* /////////// dashboard /////////// */
.dashbroadchart01{
  padding: 10px;
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 0px 5px 0 #e3e4e6;
  transition: 0.3s;
}

.dashbroadchart01:hover {
  box-shadow: 0px 0px 5px 0 #b3b3b4;
}