.menu-container {
  height: 50px;
}

.ant-input-search-button:hover,
.ant-input-search-button:focus,
.ant-input-search-button:active {
  background: red;
  border: none;
}

.ant-click-animating-node {
  display: none;
}
