@import "~antd/dist/antd.css";

.header-nav {
  background: white;
  padding: 0;
  z-index: 999;
  height: 60px;
  animation: fadedAnimate2 0.3s;
}

.header-nav .menuBar {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0px 0px 10px 0px var(--color-box-shadow);
  overflow: hidden;
  height: 60px;
  background: #ffffffe8;
  position: fixed;
  width: 100%;
}

/* .ant-menu-submenu-title{
  background-color: red;
} */

.logo {
  width: 70px;
  float: left;
  transform: scale(3.2);
  padding: 0px;
  margin: 12px 30px 0px 45px;
  /* background-image: url("../../assets/logo/logo2.svg"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.drawer {
  text-align: center;
}

.drawer .logo-drawer {
  width: 70px;
  transform: scale(3.5);
  padding: 0px;
  margin-top: 10px;
}

/* style when click Menu.Item */
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: unset;
  border-bottom: none !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item-selected:hover {
  color: unset;
  border-bottom: none !important;
}

.menu-left .ant-menu-horizontal,
.menu-right .ant-menu-horizontal {
  line-height: 70px;
}

.menuCon {
  width: calc(100% - 150px);
  float: left;
}

.menuCon .ant-menu-item,
.menuCon .ant-menu-submenu {
  margin-top: -1px !important;
  transition: 0s;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 400;
}


.ant-menu-horizontal > .ant-menu-item::after, .ant-menu-horizontal > .ant-menu-submenu::after {
  transition: 0s !important;
}



.menuCon .ant-menu-item {
  padding: 0px 5px;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
  border-bottom: none;
  margin-left: 35px;
}

.leftMenu {
  float: left;
  width: 260px;
}

.rightMenu {
  float: right;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 15px;
  margin-right: 0px;
  display: none;
  background: none;
  border: 1px solid #4b9eeb;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #4b9eeb;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #4b9eeb;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.barsMenu > span {
  display: block;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

/* style when click Menu.Item */
/* .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: black;
  border-bottom: 2px solid transparent;
} */

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -20px;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .logo a {
    padding: 10px 20px;
  }
}

/* .ant-input-search-button:hover,
.ant-input-search-button:focus,
.ant-input-search-button:active {
  background: red;
  border: none;
} */

.ant-click-animating-node {
  display: none;
}

/* custom dropdown genres */
.list-genres-dropdown ul {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
}

.list-genres-dropdown ul::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.list-genres-dropdown ul::-webkit-scrollbar-track {
  background: transparent;
}

.list-genres-dropdown ul::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: RGB(175, 175, 175);
}

.list-genres-dropdown ul::-webkit-scrollbar-thumb:hover {
  background: RGB(150, 150, 150);
}

/* animation */
@keyframes fadedAnimate2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .list-genres-dropdown ul#item_1\$Menu {
    display: flex;
    width: 250px;
  }
}

/* /////////// notification /////////// */
.popover-notification {
  left: unset !important;
  right: 50px !important;
  top: 75px !important;
  max-width: 330px;
  width: 100%;
  padding: 0;
  border-radius: 50%;
  position: fixed;
}

.popover-notification .ant-popover-inner-content {
  padding: 0 !important;
}

.popover-notification .ant-popover-arrow {
  visibility: hidden;
  opacity: 0;
}

.notification-title {
  padding: 10px 10px 0 10px;
  display: flex;
}

.notification-title h3.ant-typography {
  margin: 0;
}

.notifications-cont {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notifications-cont::-webkit-scrollbar {
  position: absolute;
  width: 5px;
  height: 5px;
}

.notifications-cont::-webkit-scrollbar-track {
  background: transparent;
}

.notifications-cont::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: RGB(175, 175, 175);
}

.notifications-cont::-webkit-scrollbar-thumb:hover {
  background: RGB(150, 150, 150);
}

.notifications-cont .notification-item {
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 5px;
  border-bottom: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  box-shadow: 0px 5px 5px 0 #e3e4e6;
  transition: 0.3s;
}

.notifications-cont .notification-item:hover {
  box-shadow: 0px 3px 5px 0 #b3b3b4;
}

.notifications-cont .notification-item .image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.notifications-cont .notification-item .content {
  margin-left: 5px;
  max-height: 110px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.notifications-cont .notification-item .content span.ant-typography {
  max-height: 71px;
  overflow: hidden;
}

.notifications-cont .notification-item .interact {
  margin-bottom: 10px;
  margin-top: 2px;
  transition: 2s !important;
}


.notifications-cont .notification-item .interact button {
  font-weight: 500;
  width: 110px;
  height: 32px;
  border-radius: 5px;
}
