.admin-row1 .table-user {
    margin-bottom: 50px;
    max-height: 500px;
    width: 100%;
    border: 1px solid #e8e8e8;
    overflow: auto;
  }
  
  .admin-row1 .table-user .user-item td.ant-table-cell,
  .admin-row1 .table-user .user-item th.ant-table-cell {
    padding: 10px 15px;
    margin: 0;
  }
  
  .admin-row1 .table-admin {
    margin-bottom: 50px;
    max-height: 500px;
    border: 1px solid #e8e8e8;
    overflow: auto;
    justify-content: flex-end;
  }
  
  .admin-row1 .table-admin .admin-table-item td.ant-table-cell,
  .admin-row1 .table-admin .admin-table-item th.ant-table-cell {
    padding: 10px 15px;
    margin: 0;
  }