.list-home-pagination .ant-list-pagination {
  width: 85%;
  text-align: left;
}

.list-home-pagination ul.ant-list-items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 800;
}

.latest-cards .card {
  width: 210px;
  height: 270px;
  margin: 5px 15px 5px 0px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0px var(--color-box-shadow);
}

.latest-cards .card .ant-card-cover {
  height: 75%;
}

.latest-cards .card .ant-card-cover img {
  height: 100%;
  border-radius: 3px;
}

.latest-cards .card .ant-card-body {
  padding: 0 5px;
  margin-top: 8px;
}

.latest-cards .card .desc {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}


@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .latest-cards .card {
    width: 150px;
    height: 190px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .latest-cards .card {
    width: 140px;
    height: 180px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .latest-cards .card {
    width: 150px;
    height: 190px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .latest-cards .card {
    width: 110px;
    height: 150px;
  }
}