.list-home-pagination .ant-list-pagination {
  width: 85%;
  text-align: left;
}

.list-home-pagination ul.ant-list-items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 850px;
}

.latest-cards .card {
  width: 210px;
  height: 270px;
  margin: 5px 15px 10px 0px;
  border-radius: 3px;
  box-shadow: 0 0 10px 0px var(--color-box-shadow);
}

.latest-cards .card .ant-card-cover {
  height: 75%;
}

.latest-cards .card .ant-card-cover img {
  height: 100%;
  border-radius: 3px;
}

.latest-cards .card .ant-card-body {
  padding: 0 5px;
  margin-top: 5px;
}

.latest-cards .card .desc {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .latest-cards .card {
    width: 150px;
    height: 190px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .list-home-pagination ul.ant-list-items {
    justify-content: center;
    margin-left: 14px;
    padding: 0;
  }

  .latest-cards .card {
    width: 162px;
    height: 231px;
  }

  .latest-cards .card .ant-card-meta-title{
    font-size: 15px;
  }

  .latest-cards .card .desc {
    font-size: 12px;
    margin-top: 0px;
  }

  .list-home-pagination .ant-list-pagination {
    margin-left: 14.5px;
  }

  .list-home-pagination ul.ant-list-items {
    height: 480px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .latest-cards .card {
    width: 160px;
    height: 210px;
  }

  .latest-cards .card .ant-card-meta-title{
    font-size: 14px;
  }

  .latest-cards .card .desc {
    font-size: 11px;
    margin-top: -6px;
  }

  .list-home-pagination ul.ant-list-items {
    height: 890px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .latest-cards .card {
    width: 120px;
    height: 160px;
  }

  .latest-cards .card .ant-card-meta-title{
    font-size: 12px;
  }

  .latest-cards .card .desc {
    font-size: 9px;
    margin-top: -6px;
  }

  .list-home-pagination ul.ant-list-items {
    height: 860px;
  }
}
