.user-info-page .col01 {
  flex-direction: column;
  align-items: space-around;
  padding: 0 10px;
  padding-top: 50px;
  padding-bottom: 30px;
  min-height: 100vh;
}

.user-info-page .ant-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.user-info-page .avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.user-info-page .mutual-text {
  color: #747373;
  transition: 0.3s;
  cursor: pointer;
  font-size: 16px;
}

.user-info-page .mutual-text:hover {
  color: #383737;
}

.user-info-page .info-cont {
  display: flex;
  justify-content: left;
}

.user-info-page .info-cont .info {
  margin-left: 30px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.user-info-page .ant-image-mask {
  border-radius: 50%;
  width: 150px;
  color: transparent !important;
  background-color: transparent !important;
}

.user-info-page .posts-cont {
  width: 100%;
  margin-top: 150px;
  margin-left: 30px;
}

.user-info-page .posts-cont .posts {
  display: flex;
  flex-wrap: wrap;
}

.user-info-page .posts-cont .posts img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  padding: 8px;
}

@media only screen and (min-width: 1280px) and (max-width: 1500px) {
  .user-info-page .posts-cont .posts img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .user-info-page .posts-cont .posts img {
    width: 240px;
    height: 240px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .user-info-page .posts-cont .posts img {
    width: 170px;
    height: 170px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .user-info-page .posts-cont .posts img {
    width: 150px;
    height: 150px;
  }

  .user-info-page .info-cont {
    flex-direction: column;
  }

  .user-info-page .info-cont .info {
    margin-left: 0;
    margin-top: 20px;
  }
}
