.forum-home {
}

.forum-home .btn-back {
  border-radius: 50px;
  height: 42px;
  width: 42px;
}

.forum-home-body {
  margin-top: 40px;
}

.banner {
  padding: 20px 10px;
  text-align: center;
  background-color: #e1eeff;
}

.left {
  padding: 0px 10px 20px 10px;
  margin: 0px 4px;
  min-height: 100vh;
}

.right {
  padding: 0px 10px 20px 10px;
  margin: 0px 4px;
  min-height: 100vh;
}

.left span.ant-tag,
.right span.ant-tag {
  padding: 2px 5px !important;
  border-radius: 3px;
  cursor: pointer;
  margin: 3px;
}

.post {
  display: flex;
  margin: 10px 5px;
  padding: 7.5px 10px 7.5px 10px;
  justify-content: left;
  border-radius: 5px;
  border: 1px solid #d7d7d799;
  /* box-shadow: 0px 0px 5px 0 #e3e4e6; */
  transition: 0.3s;
  background: white;
}

.post:hover {
  box-shadow: 0px 0px 5px 0 #d3d3d3;
}

.post .title-small {
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  font-size: 15px;
}

.post .title {
  cursor: pointer;
  font-weight: 500;
  word-break: break-word;
}

.post .title:hover,
.post .title-small:hover {
  text-decoration: underline;
}

.post .post-title {
  width: 100%;
}

.post .post-content {
  max-height: 45px;
  overflow: hidden;
  width: 100%;
}

.post .img {
  margin-right: 5px;
  width: fit-content;
}

.post .img .avatar {
  margin-top: 0px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.post .img .avatar-small {
  margin-top: 0px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.post .categories {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
  overflow-x: auto;
}

.post .categories .category {
  padding: 0 0 5px 0;
}

.post .info {
  display: flex;
  justify-content: space-between;
  height: 22px;
}

.post .info .time {
  font-style: italic;
}

.post .info .comments-count {
  color: green;
  font-size: 18px !important;
  font-weight: 600;
}

.post .post-title .comments-count {
  color: green;
  font-size: 14px;
  font-weight: 600;
}



.post02 {
  display: flex;
  margin: 10px 5px;
  padding: 7.5px 10px 7.5px 10px;
  justify-content: left;
  border-radius: 5px;
  border: 1px solid #d7d7d799;
  /* box-shadow: 0px 0px 5px 0 #e3e4e6; */
  transition: 0.3s;
  background: white;
}

.post02:hover {
  box-shadow: 0px 0px 5px 0 #d3d3d3;
}

.post02 .title-small {
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  font-size: 15px;
}

.post02 .title {
  cursor: pointer;
  font-weight: 500;
  word-break: break-word;
  margin-bottom:0.1em !important
}

.post02 .title:hover,
.post02 .title-small:hover {
  text-decoration: underline;
}

.post02 .post-title {
  width: 100%;
}

.post .post-content {
  max-height: 45px;
  overflow: hidden;
  width: 100%;
}

.post02 .categories {
  display: flex;
  flex-wrap: wrap;
  margin: 1px 0px;
  overflow-x: auto;
}

.post02 .categories .category {
  padding: 0 0 0px 0;
}

.post02 .info {
  display: flex;
  justify-content: space-between;
  height: 22px;
  color: black;
}

.post02 .info .time {
  font-style: italic;
}

.post02 .info .likes-dislikes {
  font-size: 14px;
  font-weight: 400;
}

.post02 .info .icon-likes-dislikes {
  border-radius: 50px;
  border: none;
  margin-right: 10px;
}


.categories-cont {
  padding: 10px;
  border-radius: 3px;
  background-color: #f0f2f5;
}


.category .ant-tag{
  font-size: 12px !important;
  padding: 3px 5px;
}


@media only screen and (min-width: 1401px) and (max-width: 1750px) {
  .post .title-small {
    width: 270px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .post .title-small {
    width: 220px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .post .title-small {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .post .title-small {
    width: 210px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 550px) {
  .post .title-small {
    width: 350px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .post .title-small {
    width: 230px;
  }
}
