.friends {
  background-color: transparent;
}

.friends .friends-body {
  box-shadow: 0px 0px 5px 0 #e3e4e6;
  padding: 25px 15px 15px 15px;
  margin: 25px 0;
  border-radius: 10px;
  min-height: 100vh;
  transition: 0.3s;
}

.friends .friends-body:hover {
  box-shadow: 0px 0px 5px 0 #b3b3b4;
}

.friends .friends-body .friends-tabs .ant-tabs-tab-btn {
  font-weight: 500;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border: none !important;
}

.friends .items-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  overflow-y: auto;
  height: 100%;
}

.friends .friend {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  margin: 5px 5px 10px 5px;
  width: 49%;
  height: fit-content;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0px 0px 5px 0 #c1c1c1;
}

.friends .friend .text {
  display: flex;
  justify-content: space-between;
}

.friends .friend .user-name {
  cursor: pointer;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  width: fit-content;
}

.friends .friend img.stt-online {
  width: 15px;
  height: 15px;
  margin: -10px 0px -5px -15px;
  z-index: 9;
}

.friends .friend button {
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
}

.friends .friend button:hover {
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
}

.friends .request {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  margin: 5px 5px 10px 5px;
  width: 49%;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0px 0px 5px 0 #c1c1c1;
}

.friends .request .interaction {
  display: flex;
}

.friends .request .user-name,
.friends .request .user-email {
  cursor: pointer;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.friends .request button {
  /* border: none; */
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
}

.item {
  width: 550px;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .friends .friend {
    width: 100%;
  }

  .friends .request {
    width: 100%;
  }

  .item {
    width: 215px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 767px) {
  .friends .friend {
    width: 100%;
  }

  .friends .request {
    width: 100%;
  }

  .item {
    width: 330px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .friends .friend {
    width: 48%;
  }

  .friends .request {
    width: 48%;
  }

  .friends .request .interaction {
    display: flex;
    flex-direction: column;
  }

  .friends .request .interaction button {
    margin-top: 5px !important;
  }

  .item {
    width: 220px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1520px) {
  .item {
    width: 350px;
  }

  .friends .friend {
    width: 48%;
  }

  .friends .request {
    width: 48%;
  }
}

/* /////////////////////////////// */
.modal-friends {
  margin-top: 150px;
}
