.input-bot {
  width: 200px;
}

.messages-cont {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.messages-cont .message-item{
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}


.messages-cont .message-item .message-bot{
  display: flex;
  float: left;
}

.messages-cont .message-item .message-user{
  display: flex;
  float: right;
}

.messages-cont .message-item .message-bot .bot-avatar,
.messages-cont .message-item .message-user .user-avatar{
  width: 35px;
  height: 35px;
  background-color: rgba(128, 128, 128, 0.308);
  border-radius: 50px;
  padding: 5px;
  margin: 0px 5px 0px 0px
}





/* ///////////////////// input part */
form.form-input-bot {
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form.form-input-bot .input-bot {
  margin-right: 5px;
  width: 100%;
}

form.form-input-bot .input-bot .ant-select-selector {
  border: none !important;
  background: #80808021 !important;
  border-radius: 50px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  font-size: 18px;
}

/* text of input */
form.form-input-bot .input-bot .ant-select-selector .ant-select-selection-search {
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* when focus input */
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: none !important;
}

form.form-input-bot .btn-send {
  border: none;
  height: 100%;
  border-radius: 5px 15px 5px;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .messages-cont {
    height: 280px;
  }
}
