.input-bot {
  width: 200px;
}

.messages-cont {
  width: 100%;
  height: 350px;
  padding: 10px 0;
  overflow-y: auto;
  margin: 0;
}

.messages-cont .message-item {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}

.messages-cont .message-item .message-bot {
  display: flex;
  float: left;
  width: 400px;
}

.messages-cont .message-item .message-user {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 400px;
}

.messages-cont .message-item .message-user .user-cmd {
  height: fit-content;
  background-color: grey;
  padding: 5px;
  border-radius: 3px;
}

.messages-cont .message-item .message-user .user-content {
  margin-top: 10px;
  word-break: break-all;
}

.messages-cont .message-item .message-bot img.bot-avatar,
.messages-cont .message-item .message-user img.user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  padding: 5px;
  margin: 0px 5px 0px 0px;
}

/* ///////////////////// input part */
form.form-input-bot {
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form.form-input-bot .input-bot {
  margin-right: 5px;
  width: 100%;
}

form.form-input-bot .input-bot .ant-select-selector {
  border: none !important;
  background: #80808021 !important;
  border-radius: 50px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  font-size: 18px;
}

/* text of input */
form.form-input-bot
  .input-bot
  .ant-select-selector
  .ant-select-selection-search {
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* when focus input */
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: none !important;
}

form.form-input-bot .btn-send {
  border: none;
  height: 100%;
  border-radius: 5px 15px 5px;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .messages-cont {
    height: 280px;
  }


  .messages-cont .message-item .message-bot {
    width: 100%;
  }
  
  .messages-cont .message-item .message-user {
    width: 100%;
  }
}



.messages-cont::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.messages-cont::-webkit-scrollbar-track {
  background: transparent;
}

.messages-cont::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: RGB(175, 175, 175);
}

.messages-cont::-webkit-scrollbar-thumb:hover {
  background: RGB(150, 150, 150);
}
