.manga {
  background: white;
  overflow: hidden;
}

.manga-bg {
  width: 100%;
  height: 400px;
}

.manga-bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  filter: blur(50px);
}

.manga-body {
  background: #f0f2f5;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px var(--color-box-shadow);
}

.manga-body .header {
  background: #f0f2f5;
  display: flex;
  /* margin: 10px 30px; */
}

.thumbnail {
  /* width: 220px; */
  height: 310px;
  margin-top: -45px;
  margin-right: -10px;
}

.thumbnail .thumbnail-img {
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100%;
  border-radius: 5px;
}

.manga .title {
  word-wrap: break-word;
}

.manga .title .author {
  margin-top: 5px;
}

.manga .title .genre {
  margin: 5px 0px;
}

.manga .title .interact {
  margin-top: 90px;
}

/* .manga .title .interact .link {
  padding: 15px 20px;
  background: #c5c5c5;
  margin-left: 15px;
  border-radius: 3px;
  color: black;
} */

.manga .title .interact .btn-add-favorite,
.manga .title .interact .btn-read-now {
  margin-right: 15px;
  border-radius: 3px;
  height: 48px;
}

.manga .middle {
  background: #f0f2f5;
  margin-top: 50px;
  /* display: flex; */
}

.manga .middle .chapter-list {
  width: 100%;
  margin-right: 0px;
}

.manga .middle .line {
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
}

.desc-wrapper {
  margin-top: 30px;
}

.desc-wrapper .desc {
  text-align: justify;
}

.manga-comments {
  padding-right: 80px;
}

.manga-comments .comments {
  height: 100%;
  margin-top: 60px;
  padding: 5px;
  width: 100%;
  background: transparent;
}

.manga-comments .comments-body {
  height: 600px;
  width: 90%;
}

.cmt-avatar,
.cmt-avatar img {
  height: 40px;
  width: 40px;
}

.comment-items a {
  font-size: 16px;
  font-weight: 700;
}

.top-week-rank {
  margin-top: 30px;
}

.favorite-suggest {
  margin-top: 30px;
}

/* /////////////////////////// */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .manga .title {
    padding-left: 75px;
  }

  .manga-comments .comments-body {
    width: 100%;
  }

  .manga-comments .comments-body {
    height: 500px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .thumbnail {
    height: 280px;
    margin-top: -45px;
    margin-right: 10px;
  }

  .manga .title .interact {
    margin-top: 30px;
  }

  .manga .title {
    font-size: 16px;
    margin-top: 5px;
    padding-left: 75px;
  }

  .manga .title .interact .link {
    padding: 10px 10px;
    margin-left: 10px;
  }

  .manga-comments {
    padding-right: 0px;
  }

  .manga-comments .comments-body {
    width: 100%;
  }

  .manga-comments .comments-body {
    height: 600px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .thumbnail {
    height: 220px;
    margin-top: -45px;
    margin-right: -5px;
  }

  .manga .title .interact {
    margin-top: 28px;
  }

  .manga .title {
    font-size: 13px;
    margin-top: 5px;
    padding-left: 70px;
  }

  .manga .title .interact .btn-add-favorite,
  .manga .title .interact .btn-read-now {
    padding: 0 7px;
    height: 38px;
  }

  .manga-comments {
    padding-right: 0px;
  }

  .manga-comments .comments-body {
    width: 100%;
  }

  .manga-comments .comments-body {
    height: 600px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  .manga .title {
    margin: 20px;
  }

  .manga .title .interact {
    margin-top: 40px;
  }

  .manga-comments {
    padding-right: 0px;
  }

  .manga-comments .comments-body {
    width: 100%;
  }

  .manga-comments .comments-body {
    height: 600px;
  }
}
