.manga {
  height: 100vh;
}

.manga-bg {
  width: 100%;
  height: 400px;
  overflow: hidden !important;
}

.manga-bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  filter: blur(50px);
}

.manga-body {
  background-color: grey;
  width: 100%;

  top: -150px;
  border-radius: 5px;
}

.manga-body .header {
  display: flex;
  margin: 10px 30px;
}

.thumbnail {
  width: 220px;
  height: 310px;
  margin-top: -45px;
  margin-right: 10px;
}

.thumbnail .thumbnail-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.manga .title {
  width: 70%;
}

.title .author {
}

.title .desc {
  width: 80%;
  text-align: justify;
}

.title .evalute {
  width: 15px;
  height: 15px;
  display: flex;
}
.title .evalute .evalute-img {
  height: 100%;
  width: 100%;
}

.title .interact {
  margin-top: 40px;
}

.title .interact .link {
  padding: 15px 20px;
  background-color: aqua;
  margin-left: 15px;
}

.manga .middle {
  margin-top: 50px;
  padding: 30px;
  width: 100%;
  display: flex;
  height: 100vh;
}

.manga .middle .chapter-list {
  width: 70%;
  margin-right: 15px;
}

.manga .middle .line {
  width: 100%;
  height: 1px;
  background-color: red;
  margin-bottom: 10px;
}

.manga .middle .rank-list {
  width: 30%;
  height: 500px;
}

@media only screen and (max-width: 600px) {
}
